{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>Stress Management</h2>
        <p>Track your stress patterns and get insights to manage your stress better.</p>
        
        
        
        <div class="card">
            <div class="card-header">
                <h5>Stress Management Tips</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <h6>Physical Activity</h6>
                        <ul>
                            <li>Exercise for at least 30 minutes daily</li>
                            <li>Try yoga or stretching exercises</li>
                            <li>Take short walking breaks during work</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6>Mental Well-being</h6>
                        <ul>
                            <li>Practice mindfulness meditation</li>
                            <li>Keep a gratitude journal</li>
                            <li>Set realistic goals and priorities</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h6>Social Support</h6>
                        <ul>
                            <li>Connect with friends and family regularly</li>
                            <li>Join support groups or communities</li>
                            <li>Don't hesitate to ask for help</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

